body {
    margin: 0;
    padding: 0;
    background: #0e0e0e;
    font-family: Arial, sans-serif;
    color: #fff;
}

.ElectionPage {
    width: 90%;
    margin: auto;
    padding: 30px 0;
}

.ElectionHeader {
    text-align: center;
    margin-bottom: 30px;
}

.ElectionHeader h1 {
    font-size: 42px;
    color: #ff0040;
}

.subtitle {
    margin-top: -10px;
    font-size: 18px;
    color: #ccc;
}

.blog-container {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid #ff0040;
    box-shadow: 0 0 20px rgba(255,0,64,0.1);
}

.blog-container h2 {
    color: #ffae00;
    margin-top: 10px;
}

.blog-container h3 {
    color: #ff578f;
    margin-top: 25px;
}

.blog-container ul {
    padding-left: 20px;
}

.blog-container p {
    color: #eee;
    line-height: 1.6;
}

.resultBtn {
    display: inline-block;
    padding: 14px 22px;
    background: #ff0040;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.2s ease;
}

.resultBtn:hover {
    background: #ff3366;
}
.ViewResult{

    background-color: #181212;
}